
nav{
    display:flex;
    width:90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
   }

a{
    color: #376f27;
    text-decoration: none;
}
a:hover{
    color: red;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
         }

nav ul li{
    text-decoration: none;
    color: rgb(31, 95, 39);
    font-weight: bold;
}

nav ul li a:hover{
color:red;
}