*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
}

nav{
  display: flex;
  background-color: crimson;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  text-decoration: none;
}

nav ul li{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover{
  color: rgb(79, 166, 193);
}
.hero{
  background-color: white;
}

.contactform{
  padding-top: 144px;
  padding: 0 100px;
}

.contactform h1{
  text-align: center;
  margin-top: 60px;

}

.contactform form div{
  padding: 10px 0;
  flex-direction: column;
  display: flex;
}

.contactform form div input{
  width: 16vw;
  border-radius: 5px;
  margin: 0px 0 0 0;
  padding: 3px;
}

#emailHelp{
  font-size: 10px;
  color: midnightblue;
  margin: 0 5px;
}

#form-check{
  flex-direction: row;
}

#form-check input{
  width: 14px;
}

.click{
  border: 1px solid rgb(24, 24, 177);
  background: orange;
  color: rgb(2, 2, 2);
  transition: all 0.5s ease;
}
.click:hover{
  color: orange;
  background: black;
}
form{
  margin-top: 50px;
  width: 400px;
  height: 20px;
  margin-left: 680px;
}

input{
  width: 400px;
 
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

   nav img.logo {
    margin-bottom: 20px;
  } 
  
  .contactform form div input{
    width: 100%;
  }

  form{
    margin-top: 50px;
    width: 300px;
    height: 60px;
    margin-left: 80px;
  }

  input{
    width: 400px;
    height: 40px;
   
  }
}
