*{
    margin: 0;
    padding: 0;
    font-family:sans-serif
 }

.hero{
    position:relative;
    width:100%;
    height:100vh;
    background: rgb(0, 0, 0);   
     }

nav{
    display:flex;
    background-color: crimson;
    width:90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
   }

a{
    
        color: rgb(255, 255, 255);
        text-decoration: none;
}
a:hover{
    color: rgb(213, 186, 10);
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
         }

nav ul li{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
color:rgb(79, 166, 193);
}

section{
    display: flex;
}

 .blogs{

    margin-left:95px;
    margin-top: 0px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0); 

}

.experience{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    background: rgb(4, 48, 5);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
}

.experience:hover{
    background: black;
    color: orange;
}
.week11{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 60px;
    margin-right: 60px;
    background: orange;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
}
.week11:hover{
    background: rgb(0, 0, 0);
    color: orange;
}

.git{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 60px;
    background: rgb(38, 28, 15);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
}
.git:hover{
    background: black;
    color: orange;
}


.photo img{
    width: 1483px;
    height: 812px;
    flex: 1;
    margin-right: 22px;
}

 @media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        background-color: green;
      }
    
       nav img.logo {
        margin-bottom: 20px;
      } 
     section {
      flex-direction: column;
    } 
    
.photo img{
    width: 767px;
    height: 700px;
    /* flex: 1; */
    margin-right: 22px;
}

   
  } 

  

